.header {
  display: flex;
  justify-content: center;
  background-color: #1e3799;
  /* padding: 0.85rem; */
  color: white;
  width: 100%;
  cursor: pointer;
}
h2 {
  margin: 0;
}
.btn {
  padding: 0.85rem;
  margin: 0.85rem;
  font-size: 1.3rem;
  display: inline-block;
}
.App {
  text-align: center;
  max-width: 100%;
}
.parent {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 0.85rem;
  text-align: left;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style: none;
  font-size: 1.5rem;
}
/* .list li {
  cursor: pointer;
} */
